<h1>Appointment Notification for <%= @escort.username %> </h1>
<p>Appointment tonight!<p>
<p>When: <%= @time %> </p>
<p>Where: <%= @place %> </p>

<br />
<p>Client Username: <%= @client.username %></p>


<br />
<br />
<p>Don't be late!</p>
