// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hideMe {
  pointer-events: none;
}

body #clients {
  background:
    linear-gradient(
      rgba(175, 175, 175, 0.4),
      rgba(175, 175, 175, 0.4)
    ),
    url("background.jpg") no-repeat bottom center fixed;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  min-height:100%;
  padding-bottom:100px;
}

#clients #logo {
  z-index:1000;
}

#clients .container#buttons {
  position:absolute;
  top:50%;
}

#clients .container#buttons button {
  margin-right:7px;
  margin-left:53px;
  border:2px solid #fff;
  background:transparent;
  border-radius:0;
  color:#fff;
  font-size:16px;
  font-weight:bold;
  text-shadow:none;

  padding:10px 25px;
}

#clients .container#buttons button:hover {
  color:#000;
  background-color:#fff;
  webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

#clients .container#buttons button.chosen {
  color:#000;
  background-color:#fff;
}

#clients .container#escorts {
  width:90%;
  margin-top:50px;
  overflow:hidden;
}

#clients .container#escorts .escort-block-out {
  border:1px dotted #000;
}

#clients .container#escorts .escort-block-out.chosen {
  border:2px solid #f30;
  background-color:rgba(230, 50, 0, 0.2);
}

#clients .container#escorts .escort-block-in {
  margin:10px 5px;
  padding-top:10px;
  padding-bottom:10px;
}

#clients #appointment .img {

}

#clients #appointment .info {
  margin-right:0;
  margin-top:0;
  margin-bottom:0;
  padding:0;
  padding-top:50px;
}

#clients #appointment .info p {
  font-size:18px;
  margin-bottom:20px;
}
